        <div class="sortable">
        </div>

        <div class="info">
          <img src="uploads/project.jpg" width="350" height="165"
          alt="My Amazing Project" class="project-image shadowed" />

          <div class="project-details">
            <h3 class="project-name">
              <%= project.title %>
            </h3>

            <input class="edit-title hidden-edit" placeholder="Enter a title">

            <div class="project-url">
              <a href="<%= project.url %>">
                <%= project.url %>
              </a>
            </div>
            <input class="edit-url hidden-edit" placeholder="Enter a url">

            <div class="skills">
            </div>

            <div class="body">
              <%= project.body %>
            </div>
          </div>
        </div>

        <div class="remove-project">
          Remove Project
        </div>