              <span class="skill-label">
                Skills:
              </span>

              <ul class="skill-list">
              </ul>

              <span class="add-skill">Add Skill</span>
