              <span class="skill-label">
                Skills:
              </span>

              <ul class="skill-list">
                <li class="hidden-edit">
                  <input class="new-skill" type="text" placeholder="new skill"/>
                </li>
              </ul>

              <span class="add-skill">Add Skill</span>
