html, body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background: #99CCFF;
  background-image: linear-gradient(top, #99CCFF 0%, #6699CC 30em);
  background-image: -o-linear-gradient(top, #99CCFF 0%, #6699CC 30em);
  background-image: -moz-linear-gradient(top, #99CCFF 0%, #6699CC 30em);
  background-image: -webkit-linear-gradient(top, #99CCFF 0%, #6699CC 30em);
  background-image: -ms-linear-gradient(top, #99CCFF 0%, #6699CC 30em);
  background-attachment: fixed;
  color : #313131;
  height: 100%;
}

body {
  padding: 1.25em;
}

#content {
  width: 60em;
  background: white;
  padding: 1.25em;
  border-radius: .25em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: .1em .1em 1em #6699CC;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

h1.name {
  /*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;*/
  font-size: 4em;
  text-shadow: .1em .05em .05em #999;
  margin-bottom: 0.25em;
}

h2.bio {
  margin-bottom: 1em;
}

h3.mission {
  letter-spacing: 0.1em;
}

ul {
  list-style-type: none;
}

#bio {
  height: 12.5em;
  padding-bottom: 1.25em;
}

.bio-image {
  float: left;
}

.bio-text {
  margin-left: 14em;
  position: relative;
  top: -.75em;
}

.shadowed {
  border-radius: .4em;
  box-shadow: .05em .1em .2em #999999;
}

#projects {
  margin-top: 3em;
  clear: left;
}

.project, .new-project {
  padding-top: 1.25em;
  clear: left;
}

.sortable {
  background-image: image_url('sort-arrows.png');
  width: 1.25em;
  height: 2.2em;
  cursor: move;
  float:left;
  position: relative;
  top: 3.5em;
}

.info {
  margin-left: 1.25em;
  width: 50em;
  float: left;
}

.project-image {
  float: left;
  margin-right: 1.25em;
}

.project-details {

}

.skills {
  font-size: 1em;
  height: 3.5em;
}

ul.skill-list li {
  float: left;
}

.skill {
  display: inline-block;
  position: relative;
  top: .1em;
  float: left;
  margin-bottom: .25em;
  margin-right: .4em;
  background-color: white;
  height: 1.1em;
  border-radius: .9em;
  border: .1em #DFCBDB solid;
  padding: .3em .25em .1em .75em;
}

.body {
  margin-left: 23em;
}

.body ul {
  list-style-type: square;
  padding-left: 1.5em;

}

.skill-label {
  float: left;
  line-height: 2em;
  margin-right: .75em;
  font-weight: bold;
}

.skill .name {
  float: left;
}

.skill .delete {
  display: inline-block;
  text-indent: -9999em;
  background: transparent image_url('remove-button.png') no-repeat 0 0;
  width: 1em;
  height: 1em;
  cursor:pointer;
  margin-left: .3em;
  position: relative;
  top: -.05em;
  float:right;
}

.add-skill {
  background: transparent image_url('add-button.png');
  text-indent: -9999em;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.remove-project {
  width: 1.5em;
  height: 1.5em;
  text-indent: -9999em;
  background: transparent image_url('delete-icons.png') no-repeat;
  cursor: pointer;
  margin-left: 52em;
}

.hidden-edit {
  display: none;
}

.clear {
  clear: both;
}

.like-list {
  float:left;
  margin-top: 1em;
}

.repo-list {
  float: left;
  margin-top: 1em;
}